@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Black.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Black.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum).eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb(FaNum).woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
  }
  
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/IranSans/eot/IRANSansWeb_Black.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb_Black.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb_Black.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/IranSans/eot/IRANSansWeb_Bold.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb_Bold.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/IranSans/eot/IRANSansWeb_Medium.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb_Medium.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/IranSans/eot/IRANSansWeb_Light.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb_Light.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb_Light.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/IranSans/eot/IRANSansWeb_UltraLight.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb_UltraLight.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
  }
  
  @font-face {
	font-family: IRANSansEn;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IranSans/eot/IRANSansWeb.eot");
	src: url("../fonts/IranSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"),
	  /* IE6-8 */ url("../fonts/IranSans/woff2/IRANSansWeb.woff2") format("woff2"),
	  /* FF39+,Chrome36+, Opera24+*/ url("../fonts/IranSans/woff/IRANSansWeb.woff") format("woff"),
	  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../fonts/IranSans/ttf/IRANSansWeb.ttf") format("truetype");
  }
  
  
  
  /**
  *
  *	Name:			IRANYekan Font
  *	Version:			3.3
  *	Author:			Moslem Ebrahimi (moslemebrahimi.com)
  *	Created on:		Sep 17, 2020
  *	Updated on:		Sep 17, 2020
  *	Website:			http://fontiran.com
  *	Copyright:		Commercial/Proprietary Software
  --------------------------------------------------------------------------------------
  فونت ایران یکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
  --------------------------------------------------------------------------------------
  IRANYekan fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
  --------------------------------------------------------------------------------------
  This set of fonts are used in this project under the license: S6TAPN
  --------------------------------------------------------------------------------------
  *	
  **/
  
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/IranYekan/woff/IRANYekanWebExtraBlackfanum.woff");
  }
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/IranYekan/woff/IRANYekanWebBoldfanum.woff");
  }
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/IranYekan/woff/IRANYekanWebMediumfanum.woff");
  }
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/IranYekan/woff/IRANYekanWebLightfanum.woff");  
  }
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/IranYekan/woff/IRANYekanWebThinfanum.woff");   
  }
  
  @font-face {
	font-family: IranYekan;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IranYekan/woff/IRANYekanWebRegularfanum.woff");  
  }
  
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/IranYekan/woff/IRANYekanWebExtraBlack.woff");
  }
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: bold;
	src: url("../fonts/IranYekan/woff/IRANYekanWebBold.woff");
  }
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/IranYekan/woff/IRANYekanWebMedium.woff");
  }
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/IranYekan/woff/IRANYekanWebLight.woff");  
  }
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/IranYekan/woff/IRANYekanWebThin.woff");   
  }
  
  @font-face {
	font-family: IranYekanEn;
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/IranYekan/woff/IRANYekanWebRegular.woff");  
  }