@media only screen and (max-width: 7000px) {
	.site-container {
		overflow: hidden;
	}
}
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1699px) {}

@media only screen and (max-width: 1439px) {
	.banner-section .slide-item h1 {
		font-size: 54px;
	}

	.banner-section .slide-item .slide-count {
		right: 50px;
		top: 50px;
	}
/* 
	.banner-two {
		padding-top: 100px;
	} */

	.main-footer .info .text {
		font-size: 28px;
	}


	.portfolio-one .portfolio-item-one {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.portfolio-item-one .inner {
		padding-bottom: 25px;
	}

	.banner-five .auto-container {
		padding-left: 100px;

	}

	.banner-five .banner-content-outer {
		padding-top: 100px;
	}

	.banner-five .horizontal-scroll-box .portfolio-item-two {
		width: 500px;
		padding-right: 60px;
	}

	.banner-six .slide-item .content-box {
		height: 900px;
	}

	.banner-six .slide-item .slide-count {
		font-size: 84px;
		line-height: 1em;
		top: 10%;
	}

	.banner-six .slide-item.alt .slide-count {
		top: 75%;
	}

	.banner-eleven .slide-item h1 {
		font-size: 48px;
	}

	.banner-eleven .slide-item .text {
		font-size: 22px;
	}

	.banner-eleven .slide-item .left-thumb .image {
		width: 280px;
	}

	.banner-eleven .slide-item .left-circle,
	.banner-eleven .slide-item .image-layer .arrow {
		width: 100px;
		height: 100px;
		font-size: 24px;
		line-height: 100px;
	}

	.banner-eleven .slide-item .left-circle:before {
		width: 20px;
		height: 20px;
		margin: -10px 0 0 -10px;
	}

	.banner-nine .slide-item h1 {
		font-size: 84px;
	}

	.banner-nine .slide-item .subtitle {
		font-size: 22px;
	}

	.banner-nine .slide-item .slide-count {
		top: 290px;
	}

}

@media only screen and (max-width: 1339px) {
	/* .accordionslider-box {
		height: 450px;
		overflow-y: scroll;
		scrollbar-width: thin; 
	} */
	.banner-four .pager-outer {
		width: 515px;
	}
	.banner-four .banner-content {
		padding-left: 515px;
	}
	.banner-section .slide-item .slide-count {
		right: 30px;
		top: 30px;
	}

	.banner-section .slide-item h1 {
		font-size: 48px;
	}

	.banner-two .slide-item h2 {
		font-size: 48px;
	}

	.main-footer .info .text {
		font-size: 24px;
	}

	.page-title {
		padding: 70px 0;
	}

	.news-section .row,
	.mixitup-gallery .row {
		margin: 0 -15px;
	}

	.news-section .row .news-block,
	.mixitup-gallery .row .portfolio-block {
		padding: 0 15px;
	}

	.project-details .text-col h3 {
		font-size: 30px;
	}

	.project-details .text-col .text {
		font-size: 20px;
	}

	.post-controls ul li a {
		font-size: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.portfolio-one.alternate .portfolio-item-one {
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	.banner-six .slide-item .content-box {
		height: 800px;
	}

	.banner-six .slide-item h3 {
		font-size: 24px;
	}

	.banner-eleven .slide-item .inner {
		margin-left: 260px;
	}

	.banner-eleven .slide-item .left-thumb .image {
		width: 220px;
	}

	.banner-eleven .slide-item h1 {
		font-size: 42px;
	}

	.banner-eleven .slide-item .text {
		font-size: 20px;
	}

	.banner-eleven .slide-item .slide-count {
		width: 110px;
		height: 100px;
		padding: 20px 10px;
		font-size: 32px;
		line-height: 60px;
		margin-bottom: 20px;
	}

	.banner-ten .slide-item .inner {
		margin-left: 100px;
	}

	.banner-ten .slide-item h4 {
		font-size: 22px;
	}

	.banner-ten .slide-item h1 {
		font-size: 48px;
	}

	.banner-ten .slide-item .bottom-content {
		right: 0;
	}

	.banner-eight .slide-item h4 {
		font-size: 22px;
	}

	.banner-eight .slide-item h1 {
		font-size: 48px;
		line-height: 1.2em;
	}

	.banner-eight .pager-box .pager-item {
		margin-right: 10px;
	}

	.banner-nine .slide-item .image-box {
		max-width: 600px;
	}

	.banner-nine .slide-item .text-content {
		left: 75%;
	}

	.banner-nine .slide-item h1 {
		font-size: 64px;
	}

	.banner-nine .slide-item .slide-count {
		top: 260px;
	}

	.banner-seven .pager-content {
		width: 280px;
	}

	.banner-seven .pager-outer .pager-item .text {
		font-size: 15px;
	}

	.banner-seven .slide-item .inner {
		max-width: 600px;
	}

	.banner-seven .slide-item h1 {
		font-size: 48px;
	}

	.banner-seven .slide-item .text {
		font-size: 16px;
	}
	/* about borna responsive */
	.service-block .customerInner {
		gap: 2em;
	}
	.def-tabs-box .tab-buttons .tab-btn {
		padding: 2px 50px;
	}
	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding:30px 151px 23px 203px;
	}
	.banner-ten .auto-container {
		max-width: 850px;
	}
	.banner-ten .slide-item .slide-count {
		right: 40px;
	}
}

@media only screen and (max-width: 1199px) {
	.modal-content {
		margin: 60% 27% auto;
	}
	.banner-four .auto-container {
		padding: 0px 50px;
	}
	.accordionslider-box {
		height: 400px;
		overflow-y: scroll;
		scrollbar-width: thin; 
	}
	.banner-four .slider-box .slide-item {
		width: 500px !important;
	}
	.banner-nine .slide-item .image-box {
		margin-left: 200px;
	}
	.banner-section .slide-item .slide-count {
		right: 30px;
		top: 30px;
		padding: 20px 10px;
		font-size: 36px;
		width: 100px;
		height: 80px;
		line-height: 40px;
	}

	.banner-two .slide-item .slide-count {
		padding: 20px 10px;
		font-size: 36px;
		width: 100px;
		height: 80px;
		line-height: 40px;
	}

	.banner-section .slide-item h1 {
		font-size: 40px;
	}

	.banner-section .slide-item .text {
		font-size: 20px;
	}

	.banner-two .slide-item .content-box {
		height: 550px;
	}

	.contact-section .info-box .info-block .inner-box {
		padding-left: 30px;
	}

	.news-block .lower {
		padding: 35px 25px 0;
	}

	.blog-details blockquote {
		font-size: 20px;
	}

	.blog-details h3 {
		font-size: 24px;
	}

	.project-details .text-col h3 {
		font-size: 24px;
	}

	.project-details .text-col .text {
		font-size: 16px;
	}

	.project-details .text-col .scope .ttl {
		font-size: 20px;
	}

	.project-details .text-col .scope ul {
		font-size: 16px;
	}

	.banner-three .slide-item .slide-count {
		width: 100px;
		height: 100px;
		padding: 20px 10px;
		font-size: 36px;
		line-height: 60px;
	}

	.banner-three .slide-item .content-box {
		padding-bottom: 50px;
	}

	.banner-three .slide-item h3 {
		font-size: 24px;
	}

	.portfolio-one .portfolio-item-one {
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}

	.portfolio-one.alternate .row {
		margin: 0 -15px;
	}

	.portfolio-one.alternate .row .portfolio-item-one {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.banner-four .banner-content {
		padding-left: 340px;
	}

	.banner-four .pager-outer {
		width: 340px;
	}

	.banner-four .pager-outer .pager-item {
		padding-top: 10px;
		padding-bottom: 10px;

	}

	.banner-four .pager-outer .pager-item .text {
		font-size: 16px;
	}

	.banner-four .pager-outer .pager-item.active {
		padding-left: 30px;
	}

	.banner-four .pager-outer .pager-item .icon {
		display: none;
	}

	.banner-five .auto-container {
		padding-left: 60px;
	}

	.banner-five .horizontal-scroll-box .portfolio-item-two {
		width: 450px;
		padding-right: 50px;
	}

	.banner-five .banner-content-outer {
		padding-bottom: 50px;
	}

	.banner-six .slide-item .content-box {
		height: 750px;
	}

	.banner-six .slide-item h3 {
		font-size: 22px;
	}

	.banner-six .auto-container {
		padding: 0 30px;
	}

	.banner-eleven .slide-item .inner {
		margin-left: 100px;
	}

	.banner-eleven .bx-controls {
		right: 30px;
		bottom: 10px;
	}

	.banner-ten .slide-item .bottom-content .bottom-inner {
		min-height: 0;
		padding:20px 50px 27px 100px;
	}
/* 
	.banner-ten .slide-item .bottom-content .count {
		display: none;
	} */

	.banner-ten .slide-item .bottom-content .text {
		padding-top: 0;
		font-size: 18px;
	}

	.banner-ten .bx-controls {
		width: 100px;
		margin: 0;
		right: 0;
		left: auto;
		bottom: 0;
		height: 100px;
	}

	.banner-ten .bx-controls .bx-controls-direction {
		position: absolute;
		width: 50px;
	}

	.banner-ten .bx-controls .bx-prev,
	.banner-ten .bx-controls .bx-next {
		position: relative;
		display: block;
		width: 50px;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
	}

	.banner-ten .slide-item .slide-count {
		display: none;
	} 

	.banner-ten .slide-item .content {
		padding-left: 130px;
	}

	.banner-ten .slide-item .inner {
		margin-left: 30px;
	}

	.banner-eight .slide-item h4 {
		font-size: 20px;
	}

	.banner-eight .slide-item h1 {
		font-size: 42px;
		line-height: 1.3em;
	}

	.banner-eight .pager-box .pager-item {
		width: 160px;
	}

	.banner-eight .pager-box .pager-item .text {
		display: none;
	}

	.banner-nine .slide-item .image-box {
		max-width: 550px;
	}

	.banner-nine .slide-item .text-content {
		left: 62%;
	}

	.banner-nine .slide-item h1 {
		font-size: 54px;
	}

	.banner-nine .slide-item .content-box {
		padding: 110px 0 70px;
	}

	.banner-nine .bx-controls {
		bottom: 70px;
	}
	/* Simulator responsive */
	/* .banner-seven .pager-content {
		display: none;
	} */

	/* .banner-seven .slide-item .inner {
		float: left;
	} */
	.banner-seven .pager-content {
		left: 60px;
	}
	.banner-seven .slide-item .inner {
		max-width: 500px;
	}

	/* about borna responsive */
	.banner-six .slide-item .image-layer {
		width: 73%;
		left: 15%;
	}
	.certificateZoomIn {
		right: 14%;
	}
	.service-block .customerInner {
		gap: 2em;
	}
	.service-block .customerIconBox {
		width: 10%;
	}
	/* Nasb o rahandazi responsive */
	.banner-ten .auto-container {
		max-width: 980px;
	}
	.banner-ten .slide-item .bottom-content .text{
		font-size: 16px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding:20px 75px 25px 100px;
	}
	.banner-ten .slide-item .bottom-content {
		margin-left: 13px;
	}
	.banner-ten .slide-item .bottom-content .text h3{
		font-size: 20px;
	}
	.banner-ten .bx-controls .bx-controls-direction {
		width: 42px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next {
		width: 40px;
		height: 40px;
	}
	.banner-ten .bx-controls {
		height: 80px;
	}
	.banner-ten .bx-controls {
		right: 18px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next{
		line-height: 40px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 15px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		line-height: 50px;
	}
	.news-section .custom-container  {
		max-width: 90% !important;
	}
	/* Responsive Logo */
	.alt-logo-box {
		left: 89px;
	}
	/* Home page responsive */
	.banner-two .slide-item .inner {
		padding-right: 5%;
	}
}

@media only screen and (min-width: 768px) {

	.main-menu .navigation>li>ul,
	.main-menu .navigation>li>ul>li>ul {
		display: block !important;
		visibility: hidden;
		opacity: 0;
	}
	
}

@media only screen and (max-width: 991px) {
	.main-header-bar .social-links {
		right: 20%;
	}
	.modal-content {
		margin: 60% 25% auto;
	}
	.banner-four .slider-box .slide-item {
		width: 350px !important;
	}
	.accordionslider-box {
		height: 300px;
		overflow-y: scroll;
		scrollbar-width: thin; 
	}
	.banner-four .pager-outer {
		width: 300px;
	}
	.banner-four .banner-content {
		padding-left: 300px;
	}
	.accordionslider-box .block .content .text {
		font-size: 12px;
	}
	.accordionslider-box .block .content {
		padding: 5px 10px;
	}
	.banner-four .pager-outer .pager-item .text {
		font-size: 14px;
	}
	.banner-four .pager-outer .pager-item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}
	
	.banner-four .slider-box .slide-item {
		width: 350px;
	}
	.banner-four .auto-container {
		padding: 0px 100px;
	}
	.banner-four .pager-outer .pager-item.active {
		border-radius: 20px;
	}
	.accordionslider-box {
		margin-top: 5px;
	}
	.banner-four .slider-box .image-box img {
		border-radius: 20px;
	}
	.banner-four .slider-box .slide-item .slide-count {
		border-radius: 0 20px 0 20px;
	}
	.main-content-mohandesi {
		display: flex;
		flex-direction: column; 
		align-items: center !important;
	}
	.main-content-container {
		padding-left: 80px;
	}
	.banner-four .banner-content{
		display: flex;
		flex-direction: column; 
		align-items: center;
		padding-right: 45px !important;
	}
	.main-responsive-container{
		padding-left: 0px !important;
	}
	.banner-nine .slide-item .text-content {
		left: 22%;
	}
	.banner-nine .slide-item .text-content {
		bottom: 250px ;
	}
	.banner-nine .slide-item .slide-count {
		top: 360px;
	}
	.banner-nine .slide-item .image-box {
		top: 25px;
	}
	.main-header-bar {
		width: 80px;
	}

	.main-nav-outer {
		left: 80px;
	}

	.main-header-bar .copyright {
		/* width: 140px; */
		left: 25px;
	}

	.main-header-bar .line-two {
		left: 38px;
	}

	.main-header-bar .line-one {
		left: 38px;
	}

	.main-nav-outer .main-nav-box .main-nav {
		padding-top: 80px;
	}

	.banner-section .slide-item .content {
		padding-left: 80px;
	}

	.main-header-bar .alt-logo-box {
		left: 134px;
	}

	.banner-section .slide-item .slide-bar {
		left: 80px;
	}

	.banner-section .slide-item h1 {
		font-size: 32px;
		line-height: 1.25em;
	}

	.btn-style-one {
		padding: 12px 25px 11px;
	}

	.service-block .inner {
		padding-left: 80px;
		padding-right: 20px;
	}

	.service-block .icon-box {
		width: 90px;
	}

	.main-footer .info .text {
		font-size: 20px;
	}

	.main-footer .footer-logo img {
		height: 35px;
	}

	.main-footer {
		padding: 70px 0;
	}

	.main-footer .loc-info {
		padding-top: 10px;
	}

	/* .banner-two {
		padding-top: 70px;
	} */

	.main-footer .scroll-top {
		width: 80px;
		height: 80px;
		line-height: 80px;
		top: -80px;
		font-size: 24px;
		border-radius: 10px 0 0 0;
	}

	.banner-two .slide-item .content-box {
		height: 450px;
	}

	.banner-two .slide-item h2 {
		font-size: 36px;
	}

	.plans-section .text-col h4 {
		font-size: 22px;
	}

	.team-block .name {
		font-size: 20px;
	}

	.def-title-box h3 {
		font-size: 24px;
	}

	.contact-section .info-box .info-block:last-child {
		border-top: 1px solid rgba(255, 255, 255, 0.10);
	}

	.blog-details .lower {
		padding: 30px 20px 0;
	}

	.sidebar-page-container .post-author,
	.sidebar-page-container .post-comments,
	.sidebar-page-container .add-comment {
		margin-left: 20px;
		margin-right: 20px;
	}

	.blog-details h3 {
		font-size: 22px;
	}

	.mixitup-gallery .gallery-filters ul li {
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.portfolio-block h5 {
		font-size: 18px;
	}

	.project-details .text-col .text {
		margin-right: 0;
	}

	.banner-three .slide-item h3 {
		font-size: 22px;
	}

	.portfolio-one .portfolio-item-one,
	.portfolio-one.alternate .portfolio-item-one {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.portfolio-one.alternate {
		padding-bottom: 40px;
	}

	/* .banner-four .pager-outer {
		display: none;
	} */
	.banner-six .slide-item .image-layer {
		height: 100%;
		width: 80%;
		left: 18%;
	}
	.banner-four .banner-slider-outer {
		padding-bottom: 50px;
	}

	.banner-five .horizontal-scroll-box .portfolio-item-two {
		width: 380px;
		padding-right: 30px;
		margin-bottom: 30px;
	}

	.banner-six .auto-container {
		padding: 0 15px;
	}

	.banner-eleven .slide-item .slide-count {
		display: none;
	}

	.banner-eleven .slide-item .inner {
		margin-left: 50px;
	}

	.banner-eleven .slide-item .image-layer {
		left: 40%;
		margin-left: 100px;
	}

	.banner-eleven .slide-item h1 {
		font-size: 32px;
	}

	.banner-eleven .slide-item .text {
		font-size: 18px;
	}

	.banner-eleven .slide-item .links-box {
		padding-top: 30px;
	}

	.banner-ten .slide-item h1 {
		font-size: 32px;
		line-height: 1.3em;
	}

	.banner-ten .slide-item .bottom-content {
		margin-left: 80px;
	}

	.banner-ten .slide-item .inner {
		margin-left: 0;
	}

	.banner-ten .slide-item .content {
		padding-left: 110px;
	}

	.banner-eight .slide-item .content,
	.banner-eight .bx-controls {
		padding-left: 80px;
	}

	.banner-eight .pager-content {
		padding-left: 80px;
	}

	.banner-eight .pager-box .pager-item {
		width: 140px;
	}

	.banner-eight .slide-item h4 {
		font-size: 18px;
	}

	.banner-eight .slide-item h1 {
		font-size: 36px;
	}

	.banner-nine .slide-item h1 {
		font-size: 44px;
	}

	.banner-nine .slide-item .image-box {
		margin-left: 250px;
	}

	.banner-seven .slide-item h1 {
		font-size: 36px;
	}

	.banner-seven .slide-item .content {
		padding-left: 80px;
	}

	.banner-section .owl-theme .owl-nav .owl-next,
	.banner-section .owl-theme .owl-nav .owl-prev {
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
	}
	/* about borna responsive */
	.plans-section .text-col .text {
		font-size: 14px;
	}
	.plans-section .image-col .image::before {
		left: 20px;
		top: 35px;
		right: -12px;
		bottom: -13px;
	}
	.plans-section .image-col .image .bg-pattern {
		left: -29px;
		top: -28px;
		right: -54px;
		bottom: -60px;
	  }
	  .plans-section .image-col .image {
		margin-right: 30px;
	  }
	  .popup-overlay {
		transform: translate(-39%, -50%);
		width: 70%;
	  }
	  /* .banner-six .slide-item .image-layer {
		height: 96%;
		width: 70%;
		left: 18%;
	  } */
	  .customerInner .image-content img{
		width: auto ;
	}
	  .banner-six .slide-item .content-box {
		padding-top: 0px;
	  }
	  .def-title-box .subtitle {
		font-size: 12px;
	  }
	  .banner-six .slide-item .inner {
		padding: 0px 20px 40px 60px;

	  }
	  .banner-six {
		padding: 0px;
	  }
	  .service-block .text {
		font-size: 14px;
	  }
	  .customer-service h5 {
		height: 30px !important;
	  }
	  .service-block .customerInner {
		display: block !important;
	  }
	  /* .def-tabs-box .tab-buttons .tab-btn {
		width: 105%;
	  } */
	  .def-tabs-box .tab-buttons .tab-btn {
		padding: 0px 40px;
	  }
	  .def-tabs-box .image-col .image img {
		width: 100%;
	  }
	  .purposeContent {
		font-size: 12px;
	  }
	  .catalogContent .catalogDesc {
		font-size: 12px;
	  }
	  .accordion-box .block .content .text {
		font-size: 14px;
	  }
	  .parent-row .tabs-col  .tabs-box .tab-buttons .tab-btn span  { 	
		font-size: 14px;
	  }
	  .banner-six .slide-item .image-box {
		top: 30%;
		
	  }
	  .certificateZoomIn {
		padding: 8px 14px;
		top: 3%;
  		right: 5%;
	  }
	  .banner-six .slide-item .content-box {
		height: 715px;
	}
	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .text{
		font-size: 14px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding: 20px 44px 20px 13px;
	}
	.banner-ten .slide-item .bottom-content {
		margin-left: 13px;
	}
	.banner-ten .slide-item .bottom-content .text h3{
		font-size: 18px;
	}
	.banner-ten .bx-controls .bx-controls-direction {
		width: 42px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next {
		width: 40px;
		height: 40px;
	}
	.banner-ten .bx-controls {
		height: 80px;
	}
	.banner-ten .bx-controls {
		right: 18px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next{
		line-height: 40px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 5px;
		height: 40px;
		width: 40px;
		font-size: 30px;
		line-height: 40px;
	}
	/* blog responsive */
	.content-container p {
		font-size: 14px !important;
	}
	.news-section .row .news-block, .mixitup-gallery .row .portfolio-block {
		padding: 0px !important;
	}
	.news-section .custom-container  {
		max-width: 90% !important;
	}
	.custom-image-container {
		width: 40% !important;
	}
	/* Simulator responsive */
	.banner-seven .slide-item .inner {
		max-width: 300px;
	}


}

@media only screen and (max-width: 840px) {
	.banner-six .slide-item .image-layer {
		left: 0;
  		top: 0;
  		width: 100%;
		height: 100%;
	}
	/* bog responsive */
	.news-section .custom-container  {
		max-width: 95% !important;
	}

}
@media only screen and (max-width: 767px) {
	.modal-content {
		margin: 40% 25% auto;
		padding: 15px;
		width: 75%;
	}
	.banner-four .banner-content {
		padding-left: 0;
	}
	.accordionslider-box {
		height: 200px;
		overflow-y: scroll;
		scrollbar-width: thin; 
	}
	/* .slide-item {
		width: 500px;
	} */
	.accordionslider-box .block .content .text {
		font-size: 12px;
	}
	.accordionslider-box .block .content {
		padding: 5px 10px;
	}
	.banner-four .pager-outer .pager-item .text {
		font-size: 14px;
	}
	.banner-four .pager-outer .pager-item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}
	.banner-four .pager-outer {
		position: initial;
	}
	.banner-four .slider-box .slide-item {
		width: 350px;
	}
	.banner-four .auto-container {
		padding: 0px 140px;
	}
	.banner-four .pager-outer .pager-item.active {
		border-radius: 20px;
	}
	.accordionslider-box {
		margin-top: 5px;
	}
	.banner-four .slider-box .image-box img {
		border-radius: 20px;
	}
	.banner-four .slider-box .slide-item .slide-count {
		border-radius: 0 20px 0 20px;
	}
	.main-content-mohandesi {
		display: flex;
		flex-direction: column; 
		align-items: center;
		padding-right: 45px !important;
	}
	.banner-four .banner-content{
		display: flex;
		flex-direction: column; 
		align-items: center;
	}
	.banner-nine .slide-item .image-box {
		margin-left: 5px;
	}
	.banner-nine .slide-item .text-content {
		left: 42%;
	}
	.banner-nine .slide-item .text-content {
		width: 320px;
		font-size: 14px;
		bottom: 300px;
	}
	.banner-nine .slide-item .text-content .inner-box {
		padding: 20px 20px;
		/* margin-left: 65px; */
	}
	.banner-nine .slide-item .slide-count {
		top:440px;
	}
	.banner-nine .slide-item .text-content {
		left: 30%;
    	font-size: 14px;
		bottom: 250px;
	}
	.banner-nine .slide-item .text-content .ttl strong {
		font-size: 16px;
	}
	.main-responsive-container{
		padding-left: 0px !important;
	}
	.banner-section .slide-item h1 {
		font-size: 28px;
	}

	.banner-section .slide-item .text {
		font-size: 18px;
	}

	.banner-section .slide-item .slide-count {
		display: none;
	}

	.banner-two .slide-item .slide-count {
		left: 30px;
		top: 30px;
	}

	.banner-two .slide-item .inner {
		padding-left: 30px;
	}

	.banner-two .slide-item .content-box {
		height: 450px;
	}

	.banner-two .owl-theme .owl-nav {
		left: 30px;
		bottom: 30px;
	}

	.banner-two .slide-item h2 {
		font-size: 28px;
	}

	.banner-two .slide-item .cat span {
		font-size: 13px;
	}

	.main-footer .footer-logo img {
		height: 26px;
	}

	.page-title {
		padding: 140px 0 50px;
	}



	.contact-section .info-box .info-block {
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
	}

	.contact-section .info-box .info-block:last-child {
		border-top: none;
		border-bottom: none;
	}

	.blog-details blockquote {
		font-size: 18px;
	}

	.mixitup-gallery .gallery-filters ul {
		display: block;
	}

	.mixitup-gallery .gallery-filters ul li {
		display: block;
		width: 100%;
		border-right: none;
		padding-top: 18px;
		padding-bottom: 18px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
	}

	.mixitup-gallery .gallery-filters ul li:last-child {
		border-bottom: none;
	}

	.portfolio-one .portfolio-item-one,
	.portfolio-one.alternate .portfolio-item-one {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.banner-four .slider-box .slide-item .slide-count {
		width: 80px;
		height: 80px;
		padding: 20px 10px;
		font-size: 30px;
		line-height: 40px;
	}

	.banner-six .slide-item .image-box,
	.banner-six .slide-item.alt .image-box {
		top: 0;
		height: 100%;
	}

	/* .banner-six .slide-item.alt .slide-count {
		display: none;
	} */

	.banner-six .slide-item .content-box {
		height: 630px;
	}

	.banner-eleven .slide-item .inner {
		margin-left: 20px;
	}

	/* .banner-ten .slide-item .bottom-content {
		display: none;
	} */

	.banner-ten .slide-item .content {
		padding-left: 80px;
	}

	.banner-ten .slide-item .content-box {
		padding: 50px 0;
	}

	.banner-ten .slide-item h4 {
		font-size: 18px;
	}

	.banner-ten .slide-item h1 {
		font-size: 28px;
	}

	.banner-eight .pager-box .pager-item {
		width: 80px;
		overflow: hidden;
	}

	.banner-eight .pager-box .pager-item .inner {
		padding-left: 80px;
	}

	.banner-eight .pager-box .pager-item .count {
		display: none;
	}

	.banner-eight .slide-item h1 {
		font-size: 30px;
	}

	.banner-nine .slide-item h1 {
		font-size: 36px;
	}

	.banner-nine .slide-item .subtitle {
		top: 30px;
		font-size: 18px;
	}

	.banner-nine .slide-item h1 {
		top: 90px;
	}

	.banner-nine .slide-item .slide-count {
		top: 400px;
	}

	.banner-nine .slide-item .image-box {
		margin-left: 150px;
		top: 50px;
	}

	.banner-seven .slide-item h1 {
		font-size: 30px;
	}
	/* about borna responsive */
	.plans-section .text-col .text {
		font-size: 14px;
	}
	.plans-section .image-col .image::before {
		left: 20px;
		top: 35px;
		right: -12px;
		bottom: -13px;
	}
	.plans-section .image-col .image .bg-pattern {
		left: -29px;
		top: -28px;
		right: -54px;
		bottom: -60px;
	  }
	  .plans-section .image-col .image {
		margin-right: 30px;
	  }
	  .popup-overlay {
		transform: translate(-39%, -50%);
		width: 70%;
	  }
	  .banner-six .slide-item .image-layer {
		height: 69%;
		width: 70%;
		left: 18%;
	  }
	  .customerInner .image-content img{
		width: 60%;
	}
	  .banner-six .slide-item .content-box {
		padding-top: 0px;
	  }
	  .def-title-box .subtitle {
		font-size: 12px;
	  }
	  .banner-six .slide-item .inner {
		padding: 0px 20px 265px;
	  }
	  .banner-six {
		padding: 0px;
	  }
	  .service-block .text {
		font-size: 14px;
	  }
	  .customer-service h5 {
		height: 30px !important;
	  }
	  .service-block .customerInner {
		display: block !important;
	  }
	  /* .def-tabs-box .tab-buttons .tab-btn {
		width: 105%;
	  } */
	  .def-tabs-box .tab-buttons .tab-btn {
		padding: 0px 40px;
	  }
	  .def-tabs-box .image-col .image img {
		width: 100%;
	  }
	  .purposeContent {
		font-size: 12px;
	  }
	  .catalogContent .catalogDesc {
		font-size: 12px;
	  }
	  .accordion-box .block .content .text {
		font-size: 14px;
	  }
	  .parent-row .tabs-col  .tabs-box .tab-buttons .tab-btn span  {
		font-size: 14px;
	  }
	  .banner-six .slide-item .image-box {
		top: 30%;
		
	  }
	  .certificateZoomIn {
		padding: 8px 14px;
		top: 3%;
  		right: 16%;
	  }
	  .banner-six .slide-item .content-box {
		height: 715px;
	}
	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .text{
		font-size: 14px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding: 20px 44px 20px 13px;
	}
	.banner-ten .slide-item .bottom-content {
		margin-left: 13px;
	}
	.banner-ten .slide-item .bottom-content .text h3{
		font-size: 18px;
		/* width: 105px; */
	}
	.banner-ten .bx-controls .bx-controls-direction {
		width: 42px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next {
		width: 40px;
		height: 40px;
	}
	.banner-ten .bx-controls {
		height: 80px;
	}
	.banner-ten .bx-controls {
		right: 18px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next{
		line-height: 40px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 7px;
		height: 40px;
		width: 40px;
		font-size: 25px;
		line-height: 40px;
	}
	/* blog page responsive */
	.news-block .inner-box {
		display: block !important;
	}
	.custom-image-container {
		width: 100% !important;
	}
	.news-section .row .news-block, .mixitup-gallery .row .portfolio-block {
		padding: 0 30px;
	}
	.content-container {
		width: 100% !important;
	}
	.news-section {
		padding: 0 0 154px;
	}
	/* show blog responsive */
	.sidebar-page-container .content-side  {
		max-width: 100%;
		padding-right: 0%;
  		padding-left: 0%;
	}
	.sidebar-side .recent-post .post .text {
		font-size: 14px;
		text-align: right;

	}
	.sidebar-side .recent-post .post .inner {
		padding-left:140px;
	}
	.blog-details .lower{
		padding: 0px 35px 5px;
	}
	.img-container img {
		width: 200px;
  		height: 93px;
  		object-fit: cover;
  		margin-bottom: 9%;
	}

	/* Simulator responsive */
	.banner-seven .slide-item .inner {
		max-width: 200px;
	}
	.banner-seven .pager-content {
		left: 6px;
	
	}
	.banner-seven .pager-outer .pager-item .text {
		font-size: 14px;
	}
	/* Home page resonsive */
	.def-tabs-box .tab-buttons {
		width: 108%;
	}
}

@media only screen and (max-width: 599px) {

	.modal-content {
		margin: 70% 20% auto;
	}
	.banner-four .slider-box .slide-item {
		width: 300px !important;
	}
	.accordionslider-box {
		height: 200px;
		overflow-y: scroll;
		scrollbar-width: thin; 
	}
	.accordionslider-box .block .content .text {
		font-size: 12px;
	}
	.accordionslider-box .block .content {
		padding: 5px 10px;
	}
	.banner-four .pager-outer .pager-item .text {
		font-size: 14px;
	}
	.banner-four .pager-outer .pager-item {
		padding-top: 5px;
    	padding-bottom: 5px;
	}
	.banner-four .pager-outer {
		width: 300px;
		position: initial;
	}
	.banner-four .slider-box .slide-item {
		width: 350px;
	}
	.banner-four .auto-container {
		padding: 0px 100px;
	}
	.banner-four .pager-outer .pager-item.active {
		border-radius: 20px;
	}
	.accordionslider-box {
		margin-top: 5px;
	}
	.banner-four .slider-box .image-box img {
		border-radius: 20px;
	}
	.banner-four .slider-box .slide-item .slide-count {
		border-radius: 0 20px 0 20px;
	}
	.main-content-mohandesi {
		display: flex;
		flex-direction: column; 
		align-items: center;

	}
	
	.banner-four .banner-content{
		display: flex;
		flex-direction: column; 
		align-items: center;
		padding-right: 45px !important;
	}
	.banner-nine .slide-item .image-box {
		margin-left: 5px;
	}
	.banner-nine .slide-item .text-content {
		left: 42%;
	}
	.banner-nine .slide-item .text-content {
		width: 320px;
		font-size: 14px;
		bottom: 300px;
	}
	.banner-nine .slide-item .text-content .inner-box {
		padding: 20px 20px;
		/* margin-left: 65px; */
	}
	.banner-nine .slide-item .slide-count {
		top:440px;
	}
	.main-nav-outer {
		left: 0;
	}

	.banner-two .slide-item .inner {
		margin-right: 30px;
	}

	.main-nav-outer.now-visible {
		z-index: 10;
	}

	.banner-section .slide-item h1 {
		font-size: 24px;
	}

	.banner-section .slide-item .text {
		font-size: 16px;
	}

	.main-footer .info .text {
		font-size: 16px;
	}

	.main-footer .loc-info a {
		font-size: 15px;
	}

	.def-tabs-box .tab-buttons {
		display: table;
	}

	.def-tabs-box .tab-buttons .tab-btn {
		display: block;
		width: 100%;
	}

	.def-tabs-box .tabs-content {
		padding: 20px 20px 0;
	}

	.accordion-box .block .acc-btn {
		padding-left: 20px;
	}

	.accordion-box .block .acc-btn i {
		display: none;
	}

	.banner-two .slide-item h2 {
		font-size: 24px;
	}

	.plans-section .image-col .image {
		margin: 0 0;
	}
/* 
	.plans-section .image-col .image:before,
	.plans-section .image-col .image .bg-pattern {
		display: none;
	} */

	.plans-section .text-col h4 {
		font-size: 20px;
	}

	.page-title h1 {
		font-size: 30px;
		line-height: 1.30em;
	}

	.sidebar-page-container .post-author .inner-box {
		padding: 20px 20px;
	}

	.sidebar-page-container .post-author .inner {
		padding-left: 0;
		padding-top: 0;
	}

	.sidebar-page-container .post-author .inner:before {
		left: -15px;
		top: -15px;
	}

	.sidebar-page-container .post-author .image {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 20px;
	}

	.post-comments .comment .inner {
		padding-left: 0;
	}

	.post-comments .comment .image {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 20px;
	}

	.post-comments .comment .c-info {
		opacity: 1;
		visibility: visible;
	}

	.portfolio-block .inner {
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.post-controls ul li a {
		font-size: 16px;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.main-header-bar.alt-logo .alt-logo-box {
		display: none;
	}

	.banner-three .slide-item .slide-count {
		width: 80px;
		height: 80px;
		padding: 20px 10px;
		font-size: 30px;
		line-height: 40px;
	}

	.portfolio-one.alternate,
	.banner-four .banner-slider-outer {
		padding-top: 50px;
	}

	.banner-five .horizontal-scroll-box .portfolio-item-two {
		width: 300px;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	.banner-five .banner-content-outer {
		padding-top: 50px;
	}

	.banner-five .auto-container {
		padding-left: 20px;
	}

	.banner-six .slide-item .content-box {
		height: 550px;
		padding-top: 50px;
	}

	.banner-eleven .slide-item .image-layer .arrow {
		display: none;
	}

	.banner-eleven .slide-item .inner {
		margin-left: 0;
	}

	.banner-eleven .bx-controls {
		right: 20px;
		bottom: 0;
		transform: scale(0.75);
	}

	.banner-eleven .slide-item h1 {
		font-size: 28px;
	}

	.banner-ten .slide-item h4 {
		font-size: 16px;
	}

	.banner-ten .slide-item h1 {
		font-size: 24px;
	}

	.banner-eight .slide-item .content-box {
		padding: 30px 0 50px;
	}

	.banner-eight .pager-content {
		display: none;
	}

	.banner-eight .bx-controls {
		bottom: 30px;
	}

	.banner-eight .slide-item h1 {
		font-size: 24px;
	}

	.banner-nine .slide-item .content-box {
		padding: 50px 0;
	}

	.banner-nine .slide-item h1 {
		top: 80px;
		font-size: 30px;
	}

	.banner-nine .bx-controls .bx-prev {
		left: 20px;
		font-size: 24px;
	}

	.banner-nine .bx-controls .bx-next {
		right: 20px;
		font-size: 24px;
	}

	.banner-seven .slide-item h1 {
		font-size: 24px;
		line-height: 1.3em;
	}

	.banner-seven .slide-item .text {
		font-size: 15px;
	}

	.banner-seven .slide-item .content-box {
		padding: 50px 0;
	}
	/* about borna responsive */
	.plans-section .text-col .text {
		font-size: 14px;
	}
	.plans-section .image-col .image::before {
		left: 20px;
		top: 35px;
		right: -12px;
		bottom: -13px;
	}
	.plans-section .image-col .image .bg-pattern {
		left: -17px;
		top: -33px;
		right: -26px;
		bottom: -36px;
	  }
	  .popup-overlay {
		transform: translate(-39%, -50%);
		width: 70%;
	  }
	  .banner-six .slide-item .image-layer {
		height: 69%;
		width: 75%;
		left: 14%;
	  }
	  .banner-six .slide-item .content-box {
		padding-top: 0px;
	  }
	  .def-title-box .subtitle {
		font-size: 12px;
	  }
	  .banner-six .slide-item .inner {
		padding: 0px 20px 265px;
	  }
	  .banner-six {
		padding: 0px;
	  }
	  .service-block .text {
		font-size: 14px;
	  }
	  .customer-service h5 {
		height: 30px !important;
	  }
	  .service-block .customerInner {
		display: block !important;
	  }
	  .def-tabs-box .tab-buttons .tab-btn {
		width: 105%;
	  }
	  .def-tabs-box .image-col .image img {
		width: 100%;
	  }
	  .purposeContent {
		font-size: 12px;
	  }
	  .catalogContent .catalogDesc {
		font-size: 12px;
	  }
	  .accordion-box .block .content .text {
		font-size: 14px;
	  }
	  .parent-row .tabs-col  .tabs-box .tab-buttons .tab-btn span  {
		font-size: 14px;
	  }
	  .banner-six .slide-item .image-box {
		top: 30%;
		
	  }
	  .certificateZoomIn {
		padding: 8px 14px;
		top: 3%;
  		right: 16%;
	  }
	  .banner-six .slide-item .content-box {
		height: 715px;
	  }
	  .def-tabs-box .tab-buttons .tab-btn {
		padding: 10px 50px;
	  }
	  .customerInner .image-content img{
		width: 100%;
	  } 
	  	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .text{
		font-size: 12px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding: 20px 44px 20px 13px;
	}
	.banner-ten .slide-item .bottom-content {
		margin-left: 13px;
	}
	.banner-ten .slide-item .bottom-content .text h3{
		font-size: 18px;
		width: 105px;
	}
	.banner-ten .bx-controls .bx-controls-direction {
		width: 42px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next {
		width: 40px;
    	height: 40px;
	}
	.banner-ten .bx-controls {
		height: 80px;
	}
	.banner-ten .bx-controls {
		right: 18px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next{
		line-height: 40px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 5px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		line-height: 55px;
	}
	
	/* Simulator responsive */
	.banner-seven .slide-item .inner h3{
		font-size: 18px;
	}
	.banner-seven .pager-content {
		width: 200px;
	}
	.banner-seven .slide-item .auto-container{
		padding: 0px;
	}
	/* Home page responsive */ 
	.def-tabs-box .image-col .image {
		margin-right: 5%;
	}

}

@media only screen and (max-width: 430px) {
	.modal-content {
		margin: 50% 22% auto;
	}
	.banner-four .banner-content {
		padding-right: 20px !important;
	}
	.accordionslider-box .block .content .text {
		font-size: 10px;
	}
	.accordionslider-box {
		width: 280px;
	}
	.banner-four .pager-outer .pager-item .text {
		font-size: 12px;
	}
	.banner-four .pager-outer .pager-item {
		padding-top: 2px;
		padding-bottom: 2px;
	}
	.banner-four .slider-box .slide-item {
		width: 280px !important;
	}
	
	.banner-nine .slide-item .slide-count {
		top: 130px !important;
	}
	.banner-nine .slide-item .text-content {
		left: 32%;
		bottom: 95px !important;
	}
	.banner-nine .slide-item .text-content {
		width: 320px;
		font-size: 12px;
		bottom: 120px;
	}
	.banner-nine .slide-item .text-content .inner-box {
		padding: 20px 20px;
		margin-left: 65px;
	}
	.banner-two .slide-item .inner {
		margin-right: 0px;
	}
	.banner-nine .slide-item .image-box {
		top:85px !important;
	}
	.banner-nine .slide-item .text-content .ttl strong {
		font-size: 16px;
	}
	.banner-two .slide-item .content-box {
		margin-left: 5% !important;
	}
	.banner-two .slide-item .content-box .content .inner h3 {
		font-size: 20px;
	}
	.banner-six .slide-item .content-box {
		height: 550px !important;
	}
	/* Simulator responsive */
	.banner-seven .pager-content {
		left: 20% !important;
	}

}
@media only screen and (max-width: 367px) {
	.modal-content {
		margin: 45% 24% auto;
	}
	.banner-four .banner-content {
		padding-left: 50px;
	}
	.accordionslider-box {
		width: 220px;
	}
	.banner-four .slider-box .slide-item {
		width: 220px !important;
	}
	
	.banner-nine .slide-item .text-content {
		font-size: 12px !important;
		bottom: 70px !important;

	}
	.banner-nine .slide-item .text-content .ttl {
		font-size: 14px;
	}
	.banner-nine .slide-item .image-box {
		top: 100px;
	}
	.plans-section .text-col .text {
		font-size: 12px;
	}
	.plans-section .image-col .image::before {
		left: 20px;
		top: 35px;
		right: -12px;
		bottom: -13px;
	}
	.plans-section .image-col .image .bg-pattern {
		left: -17px;
		top: -33px;
		right: -26px;
		bottom: -36px;
	  }
	  .popup-overlay {
		transform: translate(-35%, -50%);
		width: 70%;
	  }
	  .banner-six .slide-item .image-layer {
		height: 59% !important;
		width: 100% !important;
		left: 0 !important;
	  }
	  .banner-six .slide-item .content-box {
		padding-top: 0px;
	  }
	  .def-title-box .subtitle {
		font-size: 10px;
	  }
	  .banner-six .slide-item .inner {
		padding: 0px 20px 265px !important;
	  }
	  .banner-six {
		padding: 0px;
	  }
	  .service-block .text {
		font-size: 12px;
	  }
	  .customer-service h5 {
		height: 30px !important;
	  }
	  .service-block .customerInner {
		display: block !important;
	  }
	  .def-tabs-box .tab-buttons .tab-btn {
		width: 115%;
	  }
	  .def-tabs-box .image-col .image img {
		width: 100%;
	  }
	  .purposeContent {
		font-size: 14px;
	  }
	  .catalogContent .catalogDesc {
		font-size: 12px;
	  }
	  .accordion-box .block .content .text {
		font-size: 14px;
	  }
	  .parent-row .tabs-col  .tabs-box .tab-buttons .tab-btn span  {
		font-size: 14px;
	  }
	  .banner-six .slide-item .image-box {
		top: 30%;
	  }
	  .banner-six .slide-item .content-box {
		height: 550px !important;
	}
	.banner-six .slide-item h3 {
		font-size: 18px;
	}

	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .text{
		font-size: 12px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding: 20px 44px 20px 13px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 8px !important;
		height: 40px !important;
		width: 40px !important;
		font-size: 26px !important;
		line-height: 40px !important;
	}
	/* blog responsive */
	.news-section {
		padding: 0 0 154px;
	}
	/* Simulator responsive */
	.banner-seven .pager-content {
		left: 10% !important;
	}

	/* Responsive Logo  */
	.alt-logo-box {
		left: 64px !important;
  		top: 45px !important;
	}
	.alt-logo-box img {
		max-width: 195px !important;
  		height: 30px !important;
	}
	
}
@media only screen and (max-width: 479px) {
	
	/* Nasb o rahandazi responsive */
	.banner-ten .slide-item .bottom-content .text{
		font-size: 12px;
		line-height: initial;
	}
	.banner-ten .slide-item .bottom-content .bottom-inner {
		padding: 20px 44px 20px 13px;
	}
	.banner-ten .slide-item .bottom-content {
		margin-left: 13px;
	}
	.banner-ten .slide-item .bottom-content .text h3{
		font-size: 18px;
		width: 105px;
	}
	.banner-ten .bx-controls .bx-controls-direction {
		width: 42px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next {
		width: 40px;
    	height: 40px;
	}
	.banner-ten .bx-controls {
		height: 80px;
	}
	.banner-ten .bx-controls {
		right: 18px;
	}
	.banner-ten .bx-controls .bx-prev, .banner-ten .bx-controls .bx-next{
		line-height: 40px;
	}
	.banner-ten .slide-item .bottom-content .count {
		top: 5px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		line-height: 55px;
	}
	
	/*  */
	.banner-four .slider-box .slide-item {
		width: 320px ;
	}
	.banner-nine .slide-item .image-box {
		margin-left: 5px;
	}
	.banner-nine .slide-item .text-content {
		left: 32%;
	}
	.banner-nine .slide-item .text-content {
		width: 320px;
		font-size: 14px;
		bottom: 150px;
	}
	.banner-nine .slide-item .text-content .inner-box {
		padding: 20px 20px;
		margin-left: 65px;
	}
	.banner-nine .slide-item .slide-count {
		top:360px;
	}
	.def-title-box h3 {
		font-size: 18px;
	}

	.banner-two .slide-item h2 {
		font-size: 20px;
	}

	.service-block .inner-box {
		padding: 30px 20px;
	}

	.accordion-box .block .content {
		padding: 20px 20px;
	}

	.service-block .inner {
		padding-left: 0;
		padding-right: 0;
	}

	.service-block .icon-box {
		position: relative;
		left: 0;
		top: 0;
		margin-bottom: 30px;
		border-radius: 10px;
	}

	.team-block .name {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.team-block .cat span {
		font-size: 12px;
		letter-spacing: 1px;
	}

	.team-block .name {
		font-size: 18px;
	}

	.contact-section .info-box .info-block .inner-box {
		padding: 30px 20px;
	}

	.contact-section .info-box .info-block .inner {
		padding-left: 0;
	}

	.contact-section .info-box .info-block .icon-box {
		position: relative;
		left: 0;
		top: 0;
	}

	.contact-section .form-col form button,
	.add-comment form .theme-btn {
		letter-spacing: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.news-block h4,
	.sidebar-page-container .post-author h5 {
		font-size: 18px;
	}

	.news-block .lower {
		padding: 30px 15px 0;
	}

	.news-block .link-box a {
		min-width: 0;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.news-block .link-box a i {
		display: none;
	}

	.blog-details blockquote {
		font-size: 15px;
		padding-left: 25px;
	}

	.blog-details blockquote:before {
		width: 5px;
	}

	.blog-details .post-tags .ttl {
		font-size: 20px;
	}

	.post-comments h4,
	.add-comment h4 {
		font-size: 20px;
	}

	.blog-details h3 {
		font-size: 18px;
	}

	.portfolio-block h5 {
		font-size: 16px;
	}

	.project-details .text-col h3 {
		font-size: 20px;
	}

	.project-details .text-col .scope {
		padding-left: 0;
	}

	.project-details .text-col .scope .ttl {
		position: relative;
		margin-bottom: 20px;
	}

	.post-controls ul li {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.10);
	}

	.post-controls ul li:last-child {
		border-bottom: none;
	}

	.banner-five .horizontal-scroll-box .portfolio-item-two {
		width: 190px;
		padding-right: 10px;
	}

	.banner-eleven .slide-item h1 {
		font-size: 24px;
	}

	.banner-eleven .slide-item .text {
		font-size: 16px;
	}

	.banner-ten .slide-item h1 {
		font-size: 22px;
	}

	.banner-eight .slide-item h1 {
		font-size: 20px;
	}

	/* .banner-nine .slide-item .image-box {
		display: none;
	} */
	.banner-nine .slide-item .image-box {
		margin-left: 10px;
		top: 60px;
	}
	.banner-nine .slide-item .subtitle {
		position: relative;
		top: 0;
		margin-bottom: 20px;
	}

	.banner-nine .slide-item h1 {
		position: relative;
		top: 0;
		margin-bottom: 20px;
		font-size: 24px;
	}

	.banner-nine .slide-item .slide-count {
		position: relative;
		top: 0;
		font-size: 20px;
		top:85px
	}

	.banner-section .owl-theme .owl-nav {
		display: none;
	}
	/* about borna responsive */
	.plans-section .text-col .text {
		font-size: 12px;
	}
	.plans-section .image-col .image::before {
		left: 20px;
		top: 35px;
		right: -12px;
		bottom: -13px;
	}
	.plans-section .image-col .image .bg-pattern {
		left: -17px;
		top: -33px;
		right: -26px;
		bottom: -36px;
	  }
	  .popup-overlay {
		transform: translate(-35%, -50%);
		width: 70%;
	  }
	  .banner-six .slide-item .image-layer {
		height: 65%;
		width: 100% !important;
		left: 0 !important;
	  }
	  .banner-six .slide-item .content-box {
		padding-top: 0px;
	  }
	  .def-title-box .subtitle {
		font-size: 10px;
	  }
	  .banner-six .slide-item .inner {
		padding: 0px 20px 265px;
	  }
	  .banner-six {
		padding: 0px;
	  }
	  .service-block .text {
		font-size: 12px;
	  }
	  .customer-service h5 {
		height: 30px !important;
	  }
	  .service-block .customerInner {
		display: block !important;
	  }
	  .def-tabs-box .tab-buttons .tab-btn {
		width: 108%;
	  }
	  .def-tabs-box .image-col .image img {
		width: 100%;
	  }
	  .purposeContent {
		font-size: 14px;
	  }
	  .catalogContent .catalogDesc {
		font-size: 12px;
	  }
	  .accordion-box .block .content .text {
		font-size: 14px;
	  }
	  .parent-row .tabs-col  .tabs-box .tab-buttons .tab-btn span  {
		font-size: 14px;
	  }
	  .banner-six .slide-item .image-box {
		top: 30%;
		
	  }
	  .certificateZoomIn {
		padding: 8px 14px;
		top: 7%;
  		right: 7%;
  		padding: 4px 14px;
	  }
	  .banner-six .slide-item .content-box {
		height: 715px;
	}
	/* blog responsive */
	.news-section {
		padding: 0 0 154px;
	}
	.news-block h4, .sidebar-page-container .post-author h5 {
		font-size: 16px !important;
	}

	/* Simulator responsive */

	.banner-seven .pager-content {
		margin-top: -20%;
	}
	.banner-seven .pager-content {
		left: 25%;
	}
	.banner-seven .slide-item .inner {
		max-width: 400px;
	}
	.banner-seven .slide-item .content-box {
		height: 40vh;
	}
	.banner-seven .slide-item .content {
		padding-left: 5px;
	}
	/* Responsive Logo */ 
	.alt-logo-box img {
		max-width: 293px;
  		height: 40px;
	}
	/* Homeb page responsive */
	.sliderSesc {
		font-size: 20px;
	}
	.banner-two .slide-item .cat a {
		font-size: 14px;
	}
}












